tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #d8d8d8}
tr:hover {background-color: #ddd;}
th {
    text-align: center;
    padding: 6px;
}
td {
    padding: 6px;
}
table {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}
body {
    background-color: #a5c7ef;
    text-align: center;
}
h1 {
    color: navy;
    margin-left: 20px;
}
h2 {
    color: navy;
    margin-left: 20px;
}